<style type="text/css">
    @media only screen and (max-width: 480px) {
        .logo{ width:300px; margin:0px auto; border:none; }
        .main {width:400px; margin:0px;
          float:left;}

          .aboutmain{width:380px;
          margin: 0px; float:left;}

          .about{width:360px;
          margin: 0px 0px 0px 10px; float:left;}

          .content { width: 380px; float:left;}

          body {
            float:left;
          }

          p {width:360px;}
    }
</style>


<div class="main">

<div class="aboutmain">
  <div class="logo">
  <%= image_tag "logo.png" %>
  </div>
<div class= "about">



  <h3> Readers get More Choices</h3>

     <p> You get more ad revenue. <br> Shop the closet brings fashion closet pulls to the reader each season via Tumblr blogs curated by your editors. Everyone wins.</p>
     <%= image_tag "closet.png" %>


      <br>
     <br>
      </div>
    </div>
</div>


    </div>
</div>
