<div class="aboutmain">
<div class="logo">
  <%= image_tag "logo.png" %>
</div>


<div class= "signup">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h3> Fashion Startups aren't all Runways and Photoshoots </h3>
     <h4> Get Answers, Get Connected, and Get in Stores. </h4>
     <p> The Fashion Startup Forum provides a platform for fashion and fashion-tech founders to come together.Finding the right resources for lookbooks, linesheets, tech packs and PR can be rough.Don't worry, we're here to help.


    </div>
</div>