<div class="main">

<div class="aboutmain">
	<div class="logo">
  <%= image_tag "logo.png" %>
  </div>
<div class= "about">
	


	<h3> Coders get Stack Overflow...what do we get? </h3>
     <p> Finding out the answers to garment manufacturing and fashion startup questions are tricky.. The Fashion Startup Forum provides a platform for a buit of Q and a bit of A, all relating to the nitty gritty details of the fashion industry.
     	<br>
     <br>
     Whether you're a founder or a follower, the FSF is the perfect turn to source for your fashion industry answers.
     	</div>
    </div>
</div>
