<style type="text/css">
    @media only screen and (max-width: 480px) {
        .image{ width:300px; margin:0px auto; border:none; }
        .main {width:400px; margin:0px 10px;
          float:left;}

          .signup{width:400px;
          margin: 0px 10px;}
    }
</style>

<div class="main">

<div class="image">
  <%= image_tag "logo.png" %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class= "signup">
  <h3>Organize Your Fashion Closet <br>  </h3>
     <h3> Track returns and pulls <br>  </h3>
     <h3> Let Readers Shop the Content<br> on Curated Tumblr Blogs<br>  </h3>

            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>

    </div>
</div>