<div class="main">

<div class="image">
  <%= image_tag "logo.png" %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class= "signup">
	<h3> Fashion Startups aren't all <br> Runways and Photoshoots </h3>
     <h4> Get Answers, Get Connected, and Get in Stores. </h4>
     <p> The Fashion Startup Forum provides a platform for <br>fashion and fashion-tech founders to come together.<br> <br>Finding the right resources for lookbooks, linesheets,<br> tech packs and PR can be rough.<br><br>Don't worry, we're here to help.
<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>

    </div>
</div>