<ul class="thumbnails">
  <% @garments.each do |garment| %>
  <li class="span3" style="margin:5px; padding:5px;">

    <div class="thumbnail">
      <%= link_to image_tag(garment.image), garment %>
      <p><%= garment.description %></p>
      <p><%= garment.editorial %></p>
      <p>Shipping Date: November 12, 2013</p>
    </div>
  </li>
  <% end %>
</ul>