<div id="profile">
  <div id="profilecontent">
  <h2>Welcome!</h2> 
   <div class="avatar">
  <%= image_tag "avatar.png" %>
</div>


  <dl>
    <dt>:</dt>
    <dd><%=  @username %></dd>

    <dt>Member Since:</dt>
    <dd><%= @date%></dd>
    <dd>
    </dd>
    <dt>Twitter:</dt>
    <dt>Bio:</dt>
    
  </dl>
</div>
</div>