<div id="profile">
  
  <div class="avatar">
  <%= image_tag "avatar.png" %>
</div>


  <dl>
    <dt>Username:</dt>
    <dd><%= @title %></dd>
    <dt>Member Since:</dt>
    <dd><%= @date%></dd>
    <dd>
    </dd>
    <dt>Twitter:</dt>
    <dt>Bio:</dt>
    
  </dl>
</div>